{
    "extends": [
      "airbnb",
      "plugin:prettier/recommended"
    ],
    "parser": "babel-eslint",
    "settings": {
      "import/resolver": {
        "webpack": { "config": "./webpack/webpack.prod.config.js" }
      }
    },
    "env": {
      "browser": true,
      "node": true,
      "jest": true
    },
    "rules": {
      "import/prefer-default-export": "off",
      "import/no-named-as-default": "off"
    }
}
